*{
  margin: 0;
  padding: 0;
}

.container{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #A0A0A0;
  line-height: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  border: 2px solid black;
  width: 350px;
  height: 350px;
}

.header{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.header .title{
  font-size: 26px;
  color: #606060;

}

.header .btn-primary{
  background-color: #1B477D;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
