*{
  margin: 0;
  padding: 0;
}

.container{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #A0A0A0;
  line-height: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  border: 2px solid black;
  width: 400px;
  height: 400px;
}

.header{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.header .title{
  font-size: 26px;
  color: #606060;

}

.header .btn-primary{
  background-color: #1B477D;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.content-data{
  margin: auto;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  min-height: 80%;
  max-height: 80%;
  padding: 10px;
}

.content-data .cards{
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.cards .box-avatar{
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: #1B477D;
}

.cards .box-name{
  width : 100px;
  overflow:hidden;
  display:inline-block;
  text-overflow: Ellipsis;
  white-space: nowrap;
  margin-top: auto;

}
.box-username{
  width : 100px;
  overflow:hidden;
  display:inline-block;
  text-overflow: Ellipsis;
  white-space: nowrap;
  margin-top: auto;
}

.btn-x{
  background-color: #1B477D;
  color: white;
  border-radius: 100%;
  border: none;
  font-size: 15px;
}