@font-face {
    font-family: 'Avenir';
    src: url('./asset/font/Avenir.ttc');
}
@font-face {
    font-family: 'Aleo';
    src: url('./asset/font/Aleo/Aleo-Regular.otf');
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(240, 240, 240, 0.849);
}

.containers{
    margin: auto;
    width: 80%;
    background-color: white;
}

.header{
    background-image: url('./asset/img/header.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
}

.header .brand{
    height: 0;
    width: 270px;
    border-top: 80px solid white;
    border-right: 20px solid transparent;
    position: relative;
}

.img-brand{
    width: 190px;
    position: absolute;
    right: -20px;
    top: -80px;
}

.menu{
    display: grid;
    grid-template-areas: 'nav-1 nav-2';
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid rgba(172, 172, 172, 0.288);
    height: 50px;
    align-items: center;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 10px;
    font-weight: bold;
}

.menu a{
    text-decoration: none;
    text-transform: capitalize;
}

.box-text{
    margin: auto;
    text-align: center;
    color: white;
    font-style: italic;
}

.box-text h1{
    font-size: 34px;
}

.box-text .sub-text-head{
    font-weight: lighter;
    color: rgb(153, 153, 153);
}

.box-title-home{
    color: white;
    width: 80%;
    padding: 30px;
    margin: auto;
    text-align: center;
    background-color: rgba(33, 78, 136, 0.623);
    font-family: Aleo, 'Times New Roman', Times, serif;
}

.box-title-home .title{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.box-title-home .sub-title{
    font-size: 22px;
}

.box-sub-title{
    display: inline-block;
    border-bottom: 1px solid white;
}

.input-area{
    /* border: 2px solid white; */
    margin: auto;
    width: 45%;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.input-area input::-webkit-input-placeholder{
    color: rgb(41, 141, 223);
    font-family: Aleo, 'Times New Roman', Times, serif;
    padding: 20px;
}
.input-area input:-moz-input-placeholder{
    color: rgb(41, 141, 223);
    font-family: Aleo, 'Times New Roman', Times, serif;
    padding-left: 20px;
}

.input-area input{
    color: rgb(41, 141, 223);
    font-family: Aleo, 'Times New Roman', Times, serif;
    border: none;
    height: 35px;
}

.img-line{
    position: absolute;
    top: 300px;
    left: 250px;
}

.btn-go{
    width: 35px;
    height: 35px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-input-1 span{
    border-top: 20px solid white;
    border-left: 25px solid transparent;
    position: relative;
    top: 10px;
}
.box-input-2 span{
    border-top: 20px solid white;
    border-left: 25px solid transparent;
    position: relative;
    top: 10px;
}

.news{
    margin-top: 30px;
    display: grid;
    grid-template-areas: 
    'icon new new donate';
    grid-template-columns: .2fr 2fr 1fr ;
    padding: 20px;
}

.news h1{
    font-size: 34px;
}
.news h3{
    font-size: 22px;
}
.news h5{
    font-size: 14px;
}
.news h6{
    font-size: 14px;
}

.news .icon-md{
    margin-top: 40px;
}

.new{
    margin-left: 50px;
}

.content-new{
    margin-top: 25px;
}

.news .head-new{
    display: flex;
    justify-content: space-between;
    max-width: 250px;
}

.head-new h6{
    color: red;
}

.news .content{
    font-weight: bold;
}

.news .donate{
    border-left: 1px solid rgba(172, 172, 172, 0.288);
    text-align: center;
    padding-left: 30px;
}

.donate .box-title{
    border-bottom: 2px solid red;
    display: inline-block;
    margin: auto;
}

.donate .title{
    color: red;
}
.donate .sub-title{
    font-style: italic;
}

.donate .content-donate{
    /* border: 1px solid black; */
    height: 430px;
    margin-top: 50px;
    padding: 20px;
    text-align: left;
    background-color: rgba(216, 187, 187, 0.13);
}

.donate .box-input{
    /* border: 1px solid black; */
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.donate .btn-drop{
    width: 100%;
    text-align: left;
}

.donate .btn-donate{
    background-color:  #30268d;
    border-radius: 0;
}

.maps{
    width: 100%;
    height: 800px;
    background-color: #3498db;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    color: white;
    padding: 30px;
}

.maps .content-text-maps{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 14px;
}

.footer-head{
    display: grid;
    grid-template-areas: 
        'image content-up content-up' 
        'image content-down content-down'            
    ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    border-bottom: 1px solid rgb(119, 119, 119);
    gap: 10px;
    
}

.footer .box-img-footer{
    grid-area: image;
    display: grid;
    justify-content: center;
}

.footer .content-up{
    grid-area: content-up;
}


.footer .content-down{
    grid-area: content-down;
}

.content-down ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 10px;
}

.footer .info-content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}
.footer .info-content ul{
    list-style: none;
}
.footer .info-content ul a{
    text-decoration: none;
    color: black;
}